Analise Base de dados - TLC Trip Record Data
Esta analise está sendo feita em cima do dataset "Yellow Taxi Trip Records (PARQUET)" da plataforma "TLC Trip Record" Data
    Link: https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [2]:
# Importando Bibliotecas
import pandas as pd

# Criação da estrutura Dataframe
df = pd.read_csv('dataset/yellow_trip.csv')

df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100995,2,2025-01-02 13:49:29,2025-01-02 14:02:35,1.0,2.42,1.0,N,50,237,1,14.9,0.0,0.5,0.00,0.0,1.0,18.90,2.5,0.0,0.0
100996,2,2025-01-02 13:42:15,2025-01-02 13:45:59,1.0,0.93,1.0,N,74,75,1,6.5,0.0,0.5,1.60,0.0,1.0,9.60,0.0,0.0,0.0
100997,2,2025-01-02 13:34:57,2025-01-02 13:47:49,2.0,3.94,1.0,N,107,261,1,19.8,0.0,0.5,4.76,0.0,1.0,28.56,2.5,0.0,0.0
100998,1,2025-01-02 13:04:07,2025-01-02 13:15:02,2.0,3.60,1.0,N,12,148,1,17.7,2.5,0.5,1.00,0.0,1.0,22.70,2.5,0.0,0.0
100999,2,2025-01-02 13:50:27,2025-01-02 14:31:52,1.0,16.92,1.0,N,137,259,2,69.5,0.0,0.5,0.00,0.0,1.0,73.50,2.5,0.0,0.0

In [9]:
# Análise do dataset, indentificando o tipo de cada coluna e os dados ausêntes

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               101000 non-null  int64
 1   tpep_pickup_datetime   101000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  101000 non-null  object
 3   passenger_count        101000 non-null  int64
 4   trip_distance          101000 non-null  float64
 5   RatecodeID             101000 non-null  float64
 6   store_and_fwd_flag     101000 non-null  object
 7   PULocationID           101000 non-null  int64
 8   DOLocationID           101000 non-null  int64
 9   payment_type           101000 non-null  int64
 10  fare_amount            101000 non-null  float64
 11  extra                  101000 non-null  float64
 12  mta_tax                101000 non-null  float64
 13  tip_amount             101000 non-null  float64
 14  tolls_amount           101000 non-null  float64
 15  improvement_surcharge  101000 non-null  float64
 16  total_amount           101000 non-null  float64
 17  congestion_surcharge   101000 non-null  float64
 18  Airport_fee            101000 non-null  float64
 19  cbd_congestion_fee     101000 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(5), object(2)
memory usage: 15.4+ MB

In [10]:
# Realizando o describe do dataframe
df.describe()

,VendorID,tpep_pickup_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
count,101000.000000,101000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.0
mean,1.789832,2025-01-01 17:31:19.244980224,1.496921,3.871261,2.429683,160.132208,159.407119,1.329762,19.574765,1.035557,0.460223,3.313219,0.671929,0.930772,27.782670,2.127599,0.139220,0.0
min,1.000000,2024-12-31 20:47:55,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-826.200000,-6.000000,-0.500000,-86.000000,-82.690000,-1.000000,-865.390000,-2.500000,-1.750000,0.0
25%,2.000000,2025-01-01 08:39:24.750000128,1.000000,1.060000,1.000000,132.000000,107.000000,1.000000,8.600000,0.000000,0.500000,0.000000,0.000000,1.000000,14.640000,2.500000,0.000000,0.0
50%,2.000000,2025-01-01 16:30:55,1.000000,1.890000,1.000000,161.000000,161.000000,1.000000,12.800000,0.000000,0.500000,2.500000,0.000000,1.000000,19.900000,2.500000,0.000000,0.0
75%,2.000000,2025-01-02 02:09:13.500000,2.000000,4.020000,1.000000,230.000000,233.000000,1.000000,23.300000,1.000000,0.500000,4.200000,0.000000,1.000000,31.080000,2.500000,0.000000,0.0
max,7.000000,2025-01-02 13:59:46,9.000000,133.300000,99.000000,265.000000,265.000000,4.000000,826.200000,11.750000,0.500000,137.000000,82.690000,1.000000,865.390000,2.500000,1.750000,0.0
std,0.416443,NaN,0.929004,5.126265,11.151166,64.478923,71.078730,0.673658,23.233079,1.571596,0.178344,4.292378,2.587555,0.349796,27.914461,1.039566,0.501422,0.0

In [4]:
# Garantindo a qualidade dos dados utilizando a biblioteca Soda-Core
from soda.scan import Scan

# Criando a instância Scan e adicionando o dataframe à instância Scan
scan = Scan()
scan.set_data_source_name("data_quality_taxi")
scan.add_pandas_dataframe(dataset_name="yellow_trip", pandas_df=df, data_source_name="data_quality_taxi")

# Adicionando as verificações Soda à base de dados
scan.add_sodacl_yaml_str("""
checks for taxi_data:
  - row_count >= 100000
  - missing_count(total_amount) = 0
  - min(total_amount) > 0
  - schema:
      warn:
        when wrong column type:
          passenger_count: integer
""")

# 4. Executar
scan.execute()
print(scan.get_logs_text())

Exception: soda-core-pandas-dask is not installed. Please install soda-core-pandas-dask

In [6]:
# Preparação do dataset para Common Data Model (CDM)

# Padronização e Limpeza (Casting)
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['passenger_count'] = df['passenger_count'].fillna(0).astype(int)

# Mapeamento para o Common Data Model
cdm_mapping = {
    'tpep_pickup_datetime': 'event_timestamp',
    'total_amount': 'transaction_value',
    'passenger_count': 'quantity_metric',
    'PULocationID': 'origin_id'
}
df_cdm = df.rename(columns=cdm_mapping)

df_cdm

,VendorID,event_timestamp,tpep_dropoff_datetime,quantity_metric,trip_distance,RatecodeID,store_and_fwd_flag,origin_id,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,transaction_value,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100995,2,2025-01-02 13:49:29,2025-01-02 14:02:35,1,2.42,1.0,N,50,237,1,14.9,0.0,0.5,0.00,0.0,1.0,18.90,2.5,0.0,0.0
100996,2,2025-01-02 13:42:15,2025-01-02 13:45:59,1,0.93,1.0,N,74,75,1,6.5,0.0,0.5,1.60,0.0,1.0,9.60,0.0,0.0,0.0
100997,2,2025-01-02 13:34:57,2025-01-02 13:47:49,2,3.94,1.0,N,107,261,1,19.8,0.0,0.5,4.76,0.0,1.0,28.56,2.5,0.0,0.0
100998,1,2025-01-02 13:04:07,2025-01-02 13:15:02,2,3.60,1.0,N,12,148,1,17.7,2.5,0.5,1.00,0.0,1.0,22.70,2.5,0.0,0.0
100999,2,2025-01-02 13:50:27,2025-01-02 14:31:52,1,16.92,1.0,N,137,259,2,69.5,0.0,0.5,0.00,0.0,1.0,73.50,2.5,0.0,0.0